{% block extra_css %}
<style>
/*Корпус*/
.building-6 {
        left: 10%;
        top: 15%;
        width: 80%;
        height: 50%;
        padding-top: 16px;
        background: var( --color-building);
        border-radius: 0px 0px 0px 0px;
        clip-path: polygon(0 0, 14% 0, 14% 5%, 22% 5%, 22% 0, 30% 0, 30% 65%, 37.5% 65%, 37.5% 55%, 100% 55%, 100% 100%, 5% 100%, 5% 10%, 0 10%);
}
/* Лестницы */
.staircase-1 { width: 11.2%; height: 5%; left: 10%; top: 15%;     data-staircase="6-5-1"; }
.staircase-2 { width: 6.5%; height: 5%; left: 27.55%; top: 15%;   data-staircase="6-5-2"; }
.staircase-3 { width: 6%; height: 10%; left: 34%; top: 55%;       data-staircase="6-5-3";
               justify-content: flex-end;
               padding-bottom: 12px; }
.staircase-4 { width: 6%; height: 4%; left: 72%; top: 61%;        data-staircase="6-5-4"; }

/* Комнаты */
.room-6-401a { width: 7.2%; height: 10%; left: 14%; top: 20%;     data-room="6-401a"; }
.room-6-401b { width: 7.2%; height: 17.5%; left: 14%; top: 30%;   data-room="6-401b"; }
.room-6-402 { width: 6.5%; height: 10%; left: 27.55%; top: 20%;   data-room="6-402"; }
.room-6-403a { width: 7.2%; height: 5%; left: 14%; top: 47.5%;    data-room="6-403a";
               clip-path: polygon(0 0, 100% 0, 100% 75%, 35% 75%, 35% 100%, 100% 100%, 0 100%); }
.room-6-403b { width: 2.52%; height: 5%; left: 14%; top: 52.4%;   data-room="6-403b"; }
.room-6-403v { width: 7.2%; height: 7.6%; left: 14%; top: 57.4%;  data-room="6-403v";
               clip-path: polygon(0 0, 35% 0, 35% 15%, 100% 15%, 100% 100%, 0 100%); }
.room-6-404 { width: 6.5%; height: 9%; left: 27.55%; top: 30%;    data-room="6-404"; }
.room-6-405 { width: 6.5%; height: 6.5%; left: 21.1%; top: 58.5%; data-room="6-405"; }
.room-6-406 { width: 6.5%; height: 8.6%; left: 27.55%; top: 39%;  data-room="6-406"; }
.room-6-407 { width: 6.5%; height: 10%; left: 27.55%; top: 55%;   data-room="6-407"; }
.room-6-408 { width: 6.5%; height: 4%; left: 27.55%; top: 47.6%;  data-room="6-408"; }
.room-6-509 { width: 5%; height: 10%; left: 40%; top: 55%;        data-room="6-509"; }
.room-6-510 { width: 9%; height: 9%; left: 45%; top: 42.5%;       data-room="6-510"; }
.room-6-511 { width: 9%; height: 10%; left: 45%; top: 55%;        data-room="6-511"; }
.room-6-512 { width: 9%; height: 9%; left: 54%; top: 42.5%;       data-room="6-512"; }
.room-6-513 { width: 9%; height: 10%; left: 54%; top: 55%;        data-room="6-513"; }
.room-6-514 { width: 9%; height: 9%; left: 63%; top: 42.5%;       data-room="6-514"; }
.room-6-515 { width: 9%; height: 10%; left: 63%; top: 55%;        data-room="6-515"; }
.room-6-516 { width: 6%; height: 9%; left: 72%; top: 42.5%;       data-room="6-516"; }
.room-6-517 { width: 12%; height: 10%; left: 78%; top: 55%;       data-room="6-517"; }
.room-6-518 { width: 3%; height: 9%; left: 78%; top: 42.5%;       data-room="6-518"; }
.room-6-520 { width: 3%; height: 9%; left: 81%; top: 42.5%;       data-room="6-520"; }
.room-6-522 { width: 3%; height: 4.5%; left: 87%; top: 47%;       data-room="6-522"; }

/* Туалет */
.toilet-1 { width: 5%; height: 9%; left: 40%; top: 42.5%;         data-toilet="6-5"; }

/* Остальное */
.room-lift { width: 3%; height: 5%; left: 35.5%; top: 55%;        data-room="lift-6-5"; }
.room-10{ width: 6%; height: 9%; left: 84%; top: 42.5%;           data-room="tech-6-1-2";
          clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
          padding-top: 5px;
          justify-content: flex-start; }

    </style>


{% endblock %}

{% block content %}

<div class="floorplan">

    <div class="building building-6"></div>

    <!-- ЛЕСТНИЦЫ -->
    <div class="staircase staircase-1" data-name="Лестница" data-type="staircase">Лестница</div>
    <div class="staircase staircase-2" data-name="Лестница" data-type="staircase">Лестница</div>
    <div class="staircase staircase-3" data-name="Лестница" data-type="staircase">Лестница</div>
    <div class="staircase staircase-4" data-name="Лестница" data-type="staircase">Лестница</div>

    <!-- КОМНАТЫ -->
    <div class="room room-6-401a" data-name="6-401a" data-type="room">6-401a</div>
    <div class="room room-6-401b" data-name="6-401b" data-type="room">6-401b</div>
    <div class="room room-6-402" data-name="6-402" data-type="room">6-402</div>

    <div class="room room-6-403a" data-name="6-403a" data-type="room">6-403a</div>
    <div class="room room-6-403b" data-name="6-403b" data-type="room">6-403b</div>
    <div class="room room-6-403v" data-name="6-403v" data-type="room">6-403v</div>

    <div class="room room-6-404" data-name="6-404" data-type="room">6-404</div>
    <div class="room room-6-405" data-name="6-405" data-type="room">6-405</div>
    <div class="room room-6-406" data-name="6-406" data-type="room">6-406</div>
    <div class="room room-6-407" data-name="6-407" data-type="room">6-407</div>
    <div class="room room-6-408" data-name="6-408" data-type="room">6-408</div>

    <div class="room room-6-509" data-name="6-509" data-type="room">6-509</div>
    <div class="room room-6-510" data-name="6-510" data-type="room">6-510</div>
    <div class="room room-6-511" data-name="6-511" data-type="room">6-511</div>
    <div class="room room-6-512" data-name="6-512" data-type="room">6-512</div>
    <div class="room room-6-513" data-name="6-513" data-type="room">6-513</div>
    <div class="room room-6-514" data-name="6-514" data-type="room">6-514</div>
    <div class="room room-6-515" data-name="6-515" data-type="room">6-515</div>
    <div class="room room-6-516" data-name="6-516" data-type="room">6-516</div>
    <div class="room room-6-517" data-name="6-517" data-type="room">6-517</div>
    <div class="room room-6-518" data-name="6-518" data-type="room">6-518</div>
    <div class="room room-6-520" data-name="6-520" data-type="room">6-520</div>
    <div class="room room-6-522" data-name="6-522" data-type="room">6-522</div>

    <!-- ТУАЛЕТ -->
    <div class="room toilet toilet-1" data-name="Туалет" data-type="toilet">Туалет</div>

    <!-- ПРОЧЕЕ -->
    <div class="room room-lift" data-name="Лифт" data-type="lift">Лифт</div>
    <div class="room room-10" data-name="Тех.помещение" data-type="other">Тех.пом</div>

</div>

{% endblock %}