{% block extra_css %}
<style>

.building-6 {
    left: 14%;
    top: 35%;
    width: 76%;
    height: 30%;
    background: var(--color-building);
    clip-path: polygon(0 0, 0 25%, 8% 25%, 8% 0, 90% 0,90% 40%, 100% 40%, 100% 80%, 90% 80%, 90% 100%, 100% 100%, 0 100%);
}

.staircase-1 { width: 6%; height: 13%; left: 14%; top: 52%;      data-staircase="staircase-6-4-1";
               text-align: bottom;
               justify-content:
               flex-end;
               padding-bottom: 4px; }
.staircase-2 { width: 5%; height: 6%; left: 62.9%; top: 59%;      data-staircase="staircase-6-4-2"; }

/* Комнаты */
.room-6-409 { width: 6%; height: 13%; left: 20%; top:52%;       data-room="6-409"; }
.room-6-411 { width: 12%; height: 13%; left: 26%; top:52%;       data-room="6-411"; }
.room-6-413 { width: 12%; height: 13%; left: 38%; top:52%;       data-room="6-413"; }
.room-6-415 { width: 13%; height: 13%; left: 49.9%; top:52%;       data-room="6-415"; }
.room-6-417 { width: 14.5%; height: 13%; left: 67.9%; top:52%;       data-room="6-417"; }
.room-6-419 { width: 7.5%; height: 12%; left: 82.4%; top:47%;       data-room="6-419"; }

.room-6-410 { width: 6%; height: 13%; left: 26%; top: 35%;     data-room="6-410"; }
.room-6-412 { width: 6%; height: 13%; left: 32%; top: 35%;     data-room="6-412"; }
.room-6-414 { width: 9%; height: 13%; left: 38%; top: 35%;     data-room="6-414"; }
.room-6-414a { width: 3%; height: 13%; left: 47%; top: 35%;     data-room="6-414a"; }
.room-6-416 { width: 13%; height: 13%; left: 49.9%; top: 35%;     data-room="6-416"; }
.room-6-420a { width: 5%; height: 13%; left: 62.9%; top: 35%;     data-room="6-420a"; }
.room-cabinet1 { width: 3%; height: 13%; left: 67.9%; top: 35%;     data-room="cabinet-6-4-1"; }
.room-cabinet2{ width: 3%; height: 13%; left: 70.9%; top: 35%;     data-room="cabinet-6-4-2"; }
.room-6-420 { width: 8.5%; height: 6.5%; left: 73.9%; top: 35%;     data-room="6-420"; }
.room-6-422 { width: 5%; height: 6.5%; left: 77.4%; top: 41.5%;     data-room="6-422"; }
.room-no-name { width: 3.5%; height: 6.5%; left: 73.9%; top: 41.5%;     data-room="no-name-6-4"; }

/* Туалет */
.toilet-1 { width: 6%; height: 13%; left: 20%; top: 35%;       data-toilet="6-4"}
/* Остальное */
.room-lift { width: 3%; height: 5%; left: 15.5%; top: 55%;      data-room="lift-6-4"; }

</style>

{% endblock %}

{% block content %}

<div class="floorplan">

    <div class="building building-6"></div>

    <!-- ЛЕСТНИЦЫ -->
    <div class="staircase staircase-1" data-name="Лестница" data-type="staircase">Лестница</div>
    <div class="staircase staircase-2" data-name="Лестница" data-type="staircase">Лестница</div>

    <!-- КОМНАТЫ -->
    <div class="room room-6-409" data-name="6-409" data-type="room">6-409</div>
    <div class="room room-6-411" data-name="6-411" data-type="room">6-411</div>
    <div class="room room-6-413" data-name="6-413" data-type="room">6-413</div>
    <div class="room room-6-415" data-name="6-415" data-type="room">6-415</div>
    <div class="room room-6-417" data-name="6-417" data-type="room">6-417</div>
    <div class="room room-6-419" data-name="6-419" data-type="room">6-419</div>

    <div class="room room-6-410" data-name="6-410" data-type="room">6-410</div>
    <div class="room room-6-412" data-name="6-412" data-type="room">6-412</div>
    <div class="room room-6-414" data-name="6-414" data-type="room">6-414</div>
    <div class="room room-6-414a" data-name="6-414a" data-type="room">6-414a</div>
    <div class="room room-6-416" data-name="6-416" data-type="room">6-416</div>
    <div class="room room-6-420a" data-name="6-420a" data-type="room">6-420a</div>

    <div class="room room-cabinet1" data-name="Кабинет" data-type="room">Каб</div>
    <div class="room room-cabinet2" data-name="Кабинет" data-type="room">Каб</div>

    <div class="room room-6-420" data-name="6-420" data-type="room">6-420</div>
    <div class="room room-6-422" data-name="6-422" data-type="room">6-422</div>

    <div class="room room-no-name" data-name="Тех.помещение" data-type="other">Тех</div>

    <!-- ТУАЛЕТ -->
    <div class="room toilet toilet-1" data-name="Туалет" data-type="toilet">Туалет</div>

    <!-- ПРОЧЕЕ -->
    <div class="room room-lift" data-name="Лифт" data-type="lift">Лифт</div>

</div>

{% endblock %}