{% block extra_css %}
<style>

/*Корпус*/
.building-6 {
        left: 10%;
        top: 15%;
        width: 80%;
        height: 50%;
        padding-top: 16px;
        background: var( --color-building);
        border-radius: 0px 0px 0px 0px;
        clip-path: polygon(96% 58%, 100% 58%, 100% 100%, 0% 100%, 0% 9%, 20% 9%, 20% 66%, 26% 66%, 26% 58%, 74% 58%, 74% 0%, 96% 0%);
}
/* Лестницы */

.staircase-1 { width: 6%; height: 7.5%; left: 10%; top: 19.5%;      data-staircase="6-2-1"; }
.staircase-2 { width: 6%; height: 7.5%; left: 20%; top: 19.5%;      data-staircase="6-2-2"; }
.staircase-3 { width: 6%; height: 7%; left: 71.25%; top: 58%;      data-staircase="6-2-3"; }
.staircase-4 { width: 4.75%; height: 7%; left: 26%; top: 58%;      data-staircase="6-2-4"; }




/* Остальное */
.room-1 { width: 6%; height: 9%; left: 10%; top: 27%;           data-room="auditor 6-2-1"; }
.room-2 { width: 6%; height: 13%; left: 20%; top: 27%;           data-room="auditor 6-2-2"; }
.room-3 { width: 6%; height: 15%; left: 10%; top: 35.5%;           data-room="auditor 6-2-3"; }
.room-4 { width: 6%; height: 8%; left: 20%; top: 40%;           data-room="auditor 6-2-4"; }
.room-5 { width: 6%; height: 15%; left: 10%; top: 50%;           data-room="auditor 6-2-5"; }
.room-6 { width: 6%; height: 7%; left: 20%; top: 58%;           data-room="auditor 6-2-6"; }
.room-7 { width: 6%; height: 5%; left: 20%; top: 48%;           data-room="warehouse"; }
.room-8 { width: 6%; height: 7%; left: 30.75%; top: 58%;           data-room="buffet"; }
.room-9 { width: 6%; height: 9%; left: 30.75%; top: 44%;           data-room="c_y"; }
.room-10 { width: 12%; height: 7%; left: 36.75%; top: 58%;           data-room="coutch-1"; }
.room-11 { width: 10%; height: 9%; left: 36.75%; top: 44%;           data-room="coutch-2"; }

.room-12 { width: 3%; height: 9%; left: 46.75%; top: 44%;           data-room="cabinet-1"; }
.room-13 { width: 3%; height: 9%; left: 49.75%; top: 44%;           data-room="lab-1"; }
.room-14 { width: 15%; height: 7%; left: 48.75%; top: 58%;           data-room="auditor 6-2-7"; }
.room-15 { width: 4%; height: 9%; left: 52.75%; top: 44%;           data-room="putin"; }
.room-16 { width: 3%; height: 9%; left: 56.75%; top: 44%;           data-room="cabinet-2"; }
.room-17 { width: 3%; height: 9%; left: 59.75%; top: 44%;           data-room="lab-2"; }
.room-18 { width: 3%; height: 7%; left: 63.75%; top: 58%;           data-room="coutch-3"; }
.room-19 { width: 4.5%; height: 9%; left: 62.5%; top: 44%;           data-room="cabinet-3"; }
.room-20 { width: 3%; height: 9%; left: 66.75%; top: 44%;           data-room="lab-3"; }
.room-21 { width: 4.5%; height: 7%; left: 66.75%; top: 58%;           data-room="display"; }
.room-22 { width: 6%; height: 7%; left: 77%; top: 58%;           data-room="lab-4"; }
.room-23 { width: 7%; height: 7%; left: 83%; top: 58%;           data-room="comp"; }

.room-24 { width: 3%; height: 9%; left: 77%; top: 44%;           data-room="service-1"; }
.room-25 { width: 6%; height: 9%; left: 80%; top: 44%;           data-room="service-2"; }
.room-26 { width: 4%; height: 9%; left: 86%; top: 44%;           data-room="service-3"; }
.room-27 { width: 2%; height: 3%; left: 88%; top: 50%;           data-room="garbage"; }
.room-28 { width: 12%; height: 17%; left: 74.75%; top: 27%;           data-room="cino"; }
.room-29 { width: 12%; height: 12%; left: 74.75%; top: 15%;           data-room="dopolnenie"; }
    </style>

{% endblock %}

{% block content %}

<div class="floorplan">

        <div class="building building-6"> </div>

        <div class="staircase staircase-1">Лестница</div>
        <div class="staircase staircase-2">Лестница</div>
        <div class="staircase staircase-3">Лестница</div>
        <div class="staircase staircase-4">Лестница</div>


        <div class="room room-1">Аудитория</div>
        <div class="room room-2">Аудитория</div>
        <div class="room room-3">Аудитория</div>
        <div class="room room-4">Аудитория</div>
        <div class="room room-5">Аудитория</div>
        <div class="room room-6">Аудитория</div>
        <div class="room room-7">Склад</div>
        <div class="room room-8">Буфет</div>
        <div class="room room-9">С/У</div>
        <div class="room room-10">Коучеры</div>
        <div class="room room-11">Коучеры</div>
        <div class="room room-12">Каб</div>
        <div class="room room-13">Лаб</div>
        <div class="room room-14">Аудитория</div>
        <div class="room room-15">Прием</div>
        <div class="room room-16">Каб</div>
        <div class="room room-17">Лаб</div>
        <div class="room room-18">Коуч</div>
        <div class="room room-19">Каб</div>
        <div class="room room-20">Лаб</div>
        <div class="room room-21">Дисп</div>
        <div class="room room-22">Лаб</div>
        <div class="room room-23">Компы</div>
        <div class="room room-24">Служ</div>
        <div class="room room-25">Служ</div>
        <div class="room room-26">Служ</div>
        <div class="room room-27">Мусор</div>
        <div class="room room-28">Кинозал</div>
        <div class="room room-29">Помещение</div>
</div>

{% endblock %}