{% block extra_css %}
<style>

/*Корпус*/
.building-6 {
        left: 10%;
        top: 15%;
        width: 80%;
        height: 50%;
        padding-top: 16px;
        background: var( --color-building);
        border-radius: 0px 0px 0px 0px;
        clip-path: polygon(96% 58%, 100% 58%, 100% 100%, 0% 100%, 0% 9%, 20% 9%, 20% 66%, 26% 66%, 26% 58%, 74% 58%, 74% 0%, 96% 0%);
}
/* Лестницы */

.staircase-1 { width: 6%; height: 7.5%; left: 10%; top: 19.5%;      data-staircase="6-2-1"; }
.staircase-2 { width: 6%; height: 7.5%; left: 20%; top: 19.5%;      data-staircase="6-2-2"; }
.staircase-3 { width: 6%; height: 7%; left: 71.25%; top: 58%;      data-staircase="6-2-3"; }
.staircase-4 { width: 4.75%; height: 7%; left: 26%; top: 58%;      data-staircase="6-2-4";
               text-align: bottom;
               justify-content:
               flex-end;
               padding-bottom: 2px; }




/* Остальное */
.room-1 { width: 6%; height: 9%; left: 10%; top: 27%;           data-room="auditor 6-2-1"; }
.room-2 { width: 6%; height: 13%; left: 20%; top: 27%;           data-room="auditor 6-2-2"; }
.room-3 { width: 6%; height: 15%; left: 10%; top: 35.5%;           data-room="auditor 6-2-3"; }
.room-4 { width: 6%; height: 8%; left: 20%; top: 40%;           data-room="auditor 6-2-4"; }
.room-5 { width: 6%; height: 15%; left: 10%; top: 50%;           data-room="auditor 6-2-5"; }
.room-6 { width: 6%; height: 7%; left: 20%; top: 58%;           data-room="auditor 6-2-6"; }
.room-7 { width: 6%; height: 5%; left: 20%; top: 48%;           data-room="warehouse"; }
.room-8 { width: 6%; height: 7%; left: 30.75%; top: 58%;           data-room="buffet"; }
.room-9 { width: 6%; height: 9%; left: 30.75%; top: 44%;           data-room="c_y"; }
.room-10 { width: 12%; height: 7%; left: 36.75%; top: 58%;           data-room="coutch-1"; }
.room-11 { width: 10%; height: 9%; left: 36.75%; top: 44%;           data-room="coutch-2"; }

.room-12 { width: 3%; height: 9%; left: 46.75%; top: 44%;           data-room="cabinet-1"; }
.room-13 { width: 3%; height: 9%; left: 49.75%; top: 44%;           data-room="lab-1"; }
.room-14 { width: 15%; height: 7%; left: 48.75%; top: 58%;           data-room="auditor 6-2-7"; }
.room-15 { width: 4%; height: 9%; left: 52.75%; top: 44%;           data-room="putin"; }
.room-16 { width: 3%; height: 9%; left: 56.75%; top: 44%;           data-room="cabinet-2"; }
.room-17 { width: 3%; height: 9%; left: 59.75%; top: 44%;           data-room="lab-2"; }
.room-18 { width: 3%; height: 7%; left: 63.75%; top: 58%;           data-room="coutch-3"; }
.room-19 { width: 4.5%; height: 9%; left: 62.5%; top: 44%;           data-room="cabinet-3"; }
.room-20 { width: 3%; height: 9%; left: 66.75%; top: 44%;           data-room="lab-3"; }
.room-21 { width: 4.5%; height: 7%; left: 66.75%; top: 58%;           data-room="display"; }
.room-22 { width: 6%; height: 7%; left: 77%; top: 58%;           data-room="lab-4"; }
.room-23 { width: 7%; height: 7%; left: 83%; top: 58%;           data-room="comp"; }

.room-24 { width: 3%; height: 9%; left: 77%; top: 44%;           data-room="service-1"; }
.room-25 { width: 6%; height: 9%; left: 80%; top: 44%;           data-room="service-2"; }
.room-26 { width: 4%; height: 9%; left: 86%; top: 44%;           data-room="service-3"; }

.room-27 { width: 2%; height: 4%; left: 27.5%; top: 58%;           data-room="lift"; }

.room-28 { width: 12%; height: 17%; left: 74.75%; top: 27%;           data-room="cino"; }
.room-29 { width: 12%; height: 12%; left: 74.75%; top: 15%;           data-room="dopolnenie"; }

    </style>

{% endblock %}

{% block content %}

<div class="floorplan">

    <div class="building building-6"></div>

    <!-- ЛЕСТНИЦЫ -->
    <div class="staircase staircase-1" data-name="Лестница" data-type="staircase">Лестница</div>
    <div class="staircase staircase-2" data-name="Лестница" data-type="staircase">Лестница</div>
    <div class="staircase staircase-3" data-name="Лестница" data-type="staircase">Лестница</div>
    <div class="staircase staircase-4" data-name="Лестница" data-type="staircase">Лестница</div>

    <!-- КОМНАТЫ -->
    <div class="room room-1" data-name="6-201" data-type="room">6-201</div>
    <div class="room room-2" data-name="6-202" data-type="room">6-202</div>
    <div class="room room-3" data-name="6-203" data-type="room">6-203</div>
    <div class="room room-4" data-name="6-204" data-type="room">6-204</div>
    <div class="room room-5" data-name="6-205" data-type="room">6-205</div>
    <div class="room room-6" data-name="6-206" data-type="room">6-206</div>

    <div class="room room-7" data-name="Склад" data-type="other">Склад</div>
    <div class="room room-8" data-name="Буфет" data-type="other">Буфет</div>
    <div class="room room-9" data-name="Туалет" data-type="toilet">С/У</div>

    <div class="room room-10" data-name="Преподавательская" data-type="room">Преп</div>
    <div class="room room-11" data-name="Преподавательская" data-type="room">Преп</div>

    <div class="room room-12" data-name="Кабинет" data-type="room">Каб</div>
    <div class="room room-13" data-name="Лаборатория" data-type="room">Лаб</div>

    <div class="room room-14" data-name="6-207" data-type="room">6-207</div>

    <div class="room room-15" data-name="Приемная" data-type="other">Прием</div>

    <div class="room room-16" data-name="Кабинет" data-type="room">Каб</div>
    <div class="room room-17" data-name="Лаборатория" data-type="room">Лаб</div>

    <div class="room room-18" data-name="Преподавательская" data-type="room">Преп</div>

    <div class="room room-19" data-name="Кабинет" data-type="room">Каб</div>
    <div class="room room-20" data-name="Лаборатория" data-type="room">Лаб</div>

    <div class="room room-21" data-name="Диспетчерская" data-type="other">Дисп</div>

    <div class="room room-22" data-name="Лаборатория" data-type="room">Лаб</div>
    <div class="room room-23" data-name="Компьютерный класс" data-type="room">Компы</div>

    <div class="room room-24" data-name="Служебное" data-type="other">Служ</div>
    <div class="room room-25" data-name="Служебное" data-type="other">Служ</div>
    <div class="room room-26" data-name="Служебное" data-type="other">Служ</div>
    <div class="room room-27" data-name="Лифт" data-type="lift">Лифт</div>
    <div class="room room-28" data-name="Кинозал" data-type="room">Кинозал</div>
    <div class="room room-29" data-name="Помещение" data-type="other">Помещение</div>

</div>

{% endblock %}